{% extends "base.html" %}

{% block content %}
<h1>List of Hotels</h1>    <br>
<table class="table">
    <tr>
    <th>Nom</th>
    <th>Nombre etoiles</th>
    <th>Description</th>
    <th>actions</th>
    </tr>
{% for foo in object_list  %}
    <tr>
        <td>  <a href="{%  url 'hotel-detail' pk=foo.id %}"> {{foo.nom}} </a> </td>
        <td>{{foo.etoiles}}</td>
        <td>{{foo.description}}</td>
        <td><a href="{%  url 'hotel-delete' pk=foo.id %}">Delete</a><br><a href="{%  url 'hotel-update' pk=foo.id %}">Update</a><br><a href="{%  url 'hotel-detail' pk=foo.id %}">Details</a></td>
    </tr>
{% endfor %}
</table>

<a href="{%  url 'hotel-create' %}" class="btn-link"> Create New Entry</a>
{% endblock %}